
  <div class="card m-auto" style="width: 28rem;">
    <img src="../../assets/images/BlackHole.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Name: {{item.itemName}}</h5>
      <h5 class="card-text">Id: {{item.itemId}}</h5>
      <h5 class="card-text">Price: {{item.itemPrice}}</h5>
      <h5 class="card-text">Type: {{item.itemType}}</h5>

    </div>
  </div>

  <form (ngSubmit)='onSubmit()' [formGroup]="addItemForm">
    <div class="form-group col-12">
      <label for="name">Item Name</label>
      <!-- define nameCheck variable for the error block to determine if the name input is valid -->
      <input type="text" class="form-control" formControlName="itemName">
    

    </div>
    <div class="form-group col-12">
      <label for="name">Item Type</label>
      <input type="text" class="form-control" formControlName="itemType">
    </div>
    <div class="form-group col-12">
      <label for="name">Item Price</label>
      <input type="text" class="form-control" formControlName="itemPrice">
    </div>
    <div class="form-group col-12">
      <label for="name">Item Image</label>
      <input type="text" class="form-control" formControlName="itemImage">
    </div>
    <div class="form-group col-12">
      <!--  When form is not valid, disable the save button-->
      <button type="submit" class="btn btn-primary mr-2">save</button>
      <button type="reset" class="btn btn-danger " (click)='onDelete()'>Delete</button>
      <button type="reset" class="btn btn-primary " routerLink="MyItems">Cancel</button>

    </div>
  </form>






  


