<p>
  add-item works!
  <!-- using event binding to bind 'click' event with 'onback' function-->
  <button (click)="onBack()" class="btn btn-primary">Back</button>

 </p>

<div class="card">
  <div class="card-header">
    Add New Item
  </div>
  <div class="card-body">
    <!-- create variable #Form and assign a javascript representation "ngForm" to it-->
    <form (ngSubmit)='onSubmit()' #Form="ngForm">
      <div>
        <tabset>
          <tab heading="Basic title" id="tab1">
            <div class="form-group col-12">
              <label for="name">Name</label>
              <!-- define nameCheck variable for the error block to determine if the name input is valid -->
              <input type="text" class="form-control" #nameCheck="ngModel" ngModel name="itemName" required minlength="5">
              <span *ngIf="!nameCheck.valid && nameCheck.touched" class="error-block" >
                <!-- if no name is entered-->
                <span *ngIf="nameCheck.errors.required">
                  Please provide name
                </span>
                <!-- if name length is smaller than 5 -->
                <span *ngIf="nameCheck.errors.minlength">
                  Name must be at least 5 characters long!
                </span>
              </span>

            </div>
            <div class="form-group col-12">
              <label for="name">Type</label>
              <input type="text" class="form-control" ngModel name="itemType">
            </div>
            <div class="form-group col-12">
              <label for="name">Price</label>
              <input type="text" class="form-control" ngModel name="itemPrice">
            </div>
            <div class="form-group col-12">
              <!--  When form is not valid, disable the save button-->
              <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">save</button>
              <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
          </tab>
          <tab heading="Basic Title 1">Basic content 1</tab>
          <tab heading="Basic Title 2">Basic content 2</tab>
        </tabset>
      </div>



    </form>
  </div>
</div>
