
<div class="card">
  <!-- passing item id into the url using string interporlation-->
  <a routerLink="/item-detail/{{item.itemId}}">
    <!-- pass image url using string interporlation-->
    <!-- if the item doesn't have image property, show the defult image -->
    <img *ngIf="item.itemImage" class="cardImage" src="{{item.itemImage}}">
    <img *ngIf="!item.itemImage" class="cardImage" src="../../assets/images/BlackHole.jpg">
  </a>
  <div class="card-body p-2">
    <!-- use string interporlation by applying double curly braces  -->
    <h1>{{item.itemType}}</h1>
    <h2>{{item.itemPrice}}</h2>
    <h3>{{item.itemName}}</h3>

    <button class="btn btn-info" (click)="addToShoppingCart()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
      </svg>
    </button>
  </div>
</div>      


