
@model IEnumerable<InhouseMembership.Models.Enrollment>
<!--Tuple<IEnumerable<InhouseMembership.Models.Schedule>, IEnumerable<InhouseMembership.Models.Enrollment>>-->

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!-- show the schedules that will be hosted by current coach logged in  -->
            <th>
                @Html.DisplayNameFor(model => model.Schedule.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.UserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.UserName)
                </td>
            </tr>
       }
        </tbody>
</table>
