@using Microsoft.AspNetCore.Identity
@model Tuple<IEnumerable<InhouseMembership.Models.Schedule>, IEnumerable<InhouseMembership.Models.Enrollment>>

@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!-- show the schedules that will be hosted by current coach logged in  -->
            <th>
                Schedule Name
            </th>
            <th>
                Enrolled Members
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item1 in Model.Item1)
        {
        

            @foreach (var item2 in Model.Item2)
            {
                @if (item1.CoachId.Equals(UserManager.GetUserId(User)))
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item1.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item2.MemberId).Result.UserName)
            </td>
        </tr>
                }

            }





        
        }
    </tbody>
</table>
